---
// src/components/sections/Platforms.astro

import SectionTitle from "../ui/SectionTitle.astro"
import PlatformCard from "../ui/PlatformCard.astro"
import Section from "./Section.astro"

import c1 from "../../assets/pics/card-pic1.png"
import c2 from "../../assets/pics/card-pic2.png"
import c3 from "../../assets/pics/card-pic3.png"
import c4 from "../../assets/pics/card-pic4.png"
import c5 from "../../assets/pics/card-pic5.png"
import c6 from "../../assets/pics/card-pic6.png"

const cards = [
    {
        index: 1,
        titleTop: "NXY.social",
        titleBottom: "#SocialFi",
        img: c3,
        alt: "Nxy Social",
        link: "https://nxy.social",
    },
    {
        index: 3,
        titleTop: "WISERSWAP.com",
        titleBottom: "#DEX",
        img: c6,
        alt: "WiserSwap",
        link: "https://wiserswap.com",
    },
    {
        index: 2,
        titleTop: "AWESOMENEXA.org",
        titleBottom: "#ECOSYSTEM",
        img: c2,
        alt: "Awesome Nexa",
        link: "https://nexa.sh",
    },
    {
        index: 3,
        titleTop: "NEXA.studio",
        titleBottom: "#BUIDLing",
        img: c5,
        alt: "Nexa Studio",
        link: "https://nexa.studio",
    },
]

const description =
    "Ava's award-winning team is working 24x7 to consistently deliver BOTH real-world utility AND direct revenue streams for its stakers by $TOKEN monetizing our professionaly built & community-first platforms — custom tailored to satisfy all the needs of a broadly diverse and growing user-base↴"
---

<Section id="platforms">
    <div class="mt-[140px] mb-5">
        <SectionTitle
            sectionTitle="Featured Platforms"
            description={description}
        />

        <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
        {
            cards.map((card) => (
                <PlatformCard
                    index={card.index}
                    titleTop={card.titleTop}
                    titleBottom={card.titleBottom}
                    img={card.img}
                    alt={card.alt}
                    link={card.link}
                />
            ))
        }
        </div>
    </div>
</Section>
