---
import { Image } from 'astro:assets'

import MainLayout from '../layouts/MainLayout.astro'
import Section from '../components/sections/Section.astro'
import '../styles/globals.css'

// import nexa from '../assets/nexa.svg'
// import penny from '../assets/penny.png'

const milestones = []

// 1H 2023

milestones.push({
    id: '815d19db-0bd9-4813-89af-3a21f84b1f55',
    title: `Ava’s DAO Formation`,
    status: 'complete',
    summary: `
Introducing the premier decentralized autonomous organization on Nexa’s L1 blockchain.
Managed by the $AVAS token; which serves as a staking asset for daily, monthly and yearly rewards.
    `,
    period: '1H 2023',
})

milestones.push({
    id: '30e46179-414c-4673-a2f5-860a8161c3a2',
    title: `NEXA.js Library + SDK`,
    status: 'complete',
    summary: `
NEXA.js Library + Software Development Kit (SDK) offers a Premium Builder Experience (BX) for creating decentralized applications (dApps) powered-by Nexa’s L1 (100K+ TPS) blockchain and deployed across its ever-expanding L2 (EVM) ecosystem.
    `,
    period: '1H 2023',
})

milestones.push({
    id: '89de5b8e-f9ad-459d-8fa5-0d3b2366c842',
    title: `Causes Cash`,
    status: 'complete',
    summary: `
A campaign management platform for individuals and teams to use for community-based campaigns.
The platform is 100% permissionless and non-custodial. All funds are safu from any and all centralized controls.
Featured benefits of the platform include:
<ul class="-mt-4 pl-10 leading-5 list-disc">
  <li>Rainmaker — airdrop campaign manager</li>
  <li>Launchpad — crowdfunding campaign manager</li>
</ul>`,
    period: '1H 2023',
})

milestones.push({
    id: 'bbbe1c06-6ebc-4f7a-beac-72ef92a02f2d',
    title: `Nexa Studio`,
    status: 'complete',
    summary: `
Offering application builders a one-stop solution for planning, developing and managing their ideas with ease.
Managed by the $STUDIO token.
Our enterprise-class data  services provide reliable access to ALL things Nexa.
<ul class="-mt-4 pl-10 leading-5 list-disc">
  <li>AI Studio</li>
  <li>NFT Studio</li>
</ul>`,
    period: '1H 2023',
})

milestones.push({
    id: 'e3645851-36b0-41b2-82cf-ddb3be236448',
    title: `NexaShell`,
    status: 'complete',
    summary: `
Offering application builders a one-stop solution for planning, developing and managing their ideas with ease.
We offer a library of API references, guides, and tutorials to help support every and all needs.
Our enterprise-class data  services provide reliable access to ALL things Nexa.
    `,
    period: '1H 2023',
})

milestones.push({
    id: 'cba1438f-627c-4de0-9ea7-944f0e571dc5',
    title: `Meta (EVM) Testnet`,
    status: 'complete',
    summary: `
MetaNet is an 100% EVM-compatible layer 2 (L2) network, which uses a 1-to-1 peg of NEXA as its native currency.
This bespoke Avalanche-powered subnet is written entirely in Rust, and currently offers a scaling limit of over 20,000+ TPS.
    `,
    period: '1H 2023',
})

// 2H 2023

milestones.push({
    id: '0ece6cc9-5a3a-4058-83bc-0be2bd778b3d',
    title: `Awesome Nexa Directory + Web Portal`,
    status: 'pending',
    summary: `
A curated catalog of the BEST of Nexa’s vast & diverse community resources.
    `,
    period: '2H 2023',
})

milestones.push({
    id: '28b431c0-6902-4410-9409-3eeeaba9e49e',
    title: `Nexa (Instant) Swap`,
    status: 'pending',
    summary: `
A non-custodial asset swapping service to quickly exchange Nexa to other cryptos.
    `,
    period: '2H 2023',
})

milestones.push({
    id: 'e52d04dc-34ab-4e17-aae4-65f772a5ed4d',
    title: `Nexa Exchange`,
    status: 'pending',
    summary: `
A free (as in beer) & trustless platform, dedicated to providing a premium user experience for managing the overall security of your Nexa assets.
Managed by the $NXL token; also serving as a (potential) stablecoin model.
Featured benefits include direct integration with the most popular 3rd-party platforms (securely, using API keys), including:
<ul class="-mt-4 pl-10 leading-5 list-disc">
  <li>BingX</li>
  <li>BitMart</li>
  <li>CoinEx</li>
  <li>MEXC</li>
  <li>and many more…</li>
</ul>`,
    period: '2H 2023',
})

milestones.push({
    id: 'b0a5fdee-1bef-452b-b4cd-d2368d7f4a90',
    title: `WiserSwap`,
    status: 'complete',
    summary: `
Nexa’s premier decentralized exchange (DEX) offering trustless access to Nexa’s hottest assets.
    `,
    period: '1H 2024',
})

milestones.push({
    id: '904bf7de-8fe9-438e-9157-a262c9abb9de',
    title: `CashFusion (Privacy)`,
    status: 'complete',
    summary: `
Using the CoinJoin protocol to offer a novel privacy solution for the Bitcoin, Bitcoin Cash and Nexa communities.
    `,
    period: '1H 2024',
})

milestones.push({
    id: '9602cfa1-570d-46e9-aaad-96feffcfd55e',
    title: `Nxy Social`,
    status: 'complete',
    summary: `
Introducing Web4: Unstoppable Apps and Nexa’s premier social network.
Our team is preparing several open source clients to offer a premium user experience to the digital world that exists beyond the Internet we know today…
The network is managed by the $NXY token; which also serves as a model for the first mineable token on Nexa’s blockchain.
Supported platforms will include all of the following:
<ul class="-mt-4 pl-10 leading-5 list-disc">
  <li>Android</li>
  <li>iOS</li>
  <li>Windows</li>
  <li>macOS</li>
  <li>Linux</li>
</ul>`,
    period: '1H 2024',
})

milestones.push({
    id: '267bccbf-61bf-4bd5-a8a1-9545ff4ee092',
    title: `Meta (EVM) Mainnet`,
    status: 'planning',
    summary: `
Our goal is to deploy and maintain an enterprise-ready infrastructure for the NEW MetaNet sidechain.
Critical activities leading up to the Mainnet launch include:
<ul class="-mt-4 pl-10 leading-5 list-disc">
  <li>code (security) audits</li>
  <li>stress testing</li>
  <li>penetration testing</li>
</ul>NOTE: Mainnet launch is pending the successful crowdfunding for 1yr of staking the 1st network validator.
    `,
    period: '1H 2025',
})

milestones.push({
    id: 'bc8bc6c0-4aae-42eb-800c-7c4c515318cb',
    title: `WiserSwap Bridge`,
    status: 'planning',
    summary: `
A 100% FREE & decentralized asset bridge between the Nexa MetaNet and the MOST popular EVM-compatible networks, including:
<ul class="-mt-4 pl-10 leading-5 list-disc">
  <li>Avalanche (AVAX)</li>
  <li>Base (BASE)</li>
  <li>BNB Smart Chain (BSC)</li>
  <li>Ethereum (ETH)</li>
  <li>Polygon (POL)</li>
  <li>Solana (SOL)</li>
  <li>and more…</li>
</ul>`,
    period: '1H 2025',
})

milestones.push({
    id: '7b46b0c3-ed80-4bb6-b3c3-ab951321275f',
    title: `Nxy Mobile App`,
    status: 'pending',
    summary: `
A native mobile app for Android and iOS that introduces the world to Web4: Unstoppable Apps.
    `,
    period: '1H 2025',
})

milestones.push({
    id: '41115cd4-8f2d-4721-bb20-c76e3f8574fd',
    title: `Minado (formerly Nexa Rocks!)`,
    status: 'pending',
    summary: `
Nexa mining pool, supporting "token mining" and featuring the Infinity Pool.
    `,
    period: '2H 2025',
})

// 1H 2024

milestones.push({
    id: '8fdcf25b-e3b5-4fb2-bff6-52ec75b4e622',
    title: `Nxy Social Phase II`,
    status: 'planning',
    summary: `
Grow usage and utility of the NEW Nxy community.
Community engagement will be encouraged through:
<ul class="-mt-4 pl-10 leading-5 list-disc">
  <li>contest rewards</li>
  <li>bounty rewards</li>
</ul>`,
    period: '2H 2025',
})

milestones.push({
    id: '7b46b0c3-ed80-4bb6-b3c3-ab951321275f',
    title: `Hardware Wallet`,
    status: 'pending',
    summary: `
Support for the most popular hardware wallets, including:
<ul class="-mt-4 pl-10 leading-5 list-disc">
  <li>Ledger</li>
  <li>OneKey</li>
  <li>Trezor</li>
</ul>`,
    period: '2H 2025',
})

// 2H 2024

milestones.push({
    id: '671e794a-46d3-4fea-9d76-61747d3433e3',
    title: `Ava's DAO Governance`,
    status: 'planning',
    summary: `
A libertarian-inspired Decentralized Autonomous Organization (DAO) to oversee the management of the suite of tools and service being build and deployed for the Nexa blockchain.
We’re introducing the Crypto world to the first cross-chain DAO, spanning:
<ul class="-mt-4 pl-10 leading-5 list-disc">
  <li>Avalanche (AVAX)</li>
  <li>Base (BASE)</li>
  <li>Binance (BNB)</li>
  <li>Bitcoin (BTC)</li>
  <li>Bitcoin Cash (BCH)</li>
  <li>Nexa (NEXA)</li>
  <li>Solana (SOL)</li>
  <li>and more…</li>
</ul>`,
    period: '1H 2026',
})

milestones.push({
    id: 'a6124c53-e49b-436d-8e71-4341a62660a9',
    title: `Ava's #BUIDL (Accelerator)`,
    status: 'planning',
    summary: `
Ava’s DAO aims to become among the leaders of accelerators and incubators out there that are designed to build and grow successful crypto startups. 🚀
We aim to curate a world-class team, offering everything from:
<ul class="-mt-4 pl-10 leading-5 list-disc">
  <li>seed funding</li>
  <li>mentorship</li>
  <li>networking</li>
  <li>co-working spaces</li>
  <li>educational resources</li>
  <li>and much more…</li>
</ul>`,
    period: '1H 2026',
})

milestones.push({
    id: '67f7bbe3-ee43-408f-958a-242d0d0a5e27',
    title: `Ava's #BUIDL Phase II`,
    status: 'planning',
    summary: `
An organized and collective effort to GROW the usage and support for individuals and teams building on Nexa, using:
<ul class="-mt-4 pl-10 leading-5 list-disc">
  <li>direct financial assistance</li>
  <li>mentorship programs</li>
  <li>and much more…</li>
</ul>`,
    period: '2H 2026',
})

---

<MainLayout
  	title="Roadmap — Ava's DAO"
  	description="Ava Nakamoto showcases her life's work in a DAO that carries on where her father left off in 2010."
>
	<Section>
		<div class="mt-[135px]" />

		<header class="sm:px-3 text-rose-600 font-medium tracking-widest opacity-50">
            <h1 class="text-3xl sm:text-4xl uppercase">
                Ava's DAO
            </h1>

            <h1 class="text-5xl sm:text-6xl uppercase">
                Roadmap
            </h1>

            <h3 class="text-lg sm:text-2xl">
                2023 thru 2026
            </h3>
        </header>

        <section class="mt-5 px-2 py-5">
            <div class="flow-root">
                <ul role="list" class="-mb-8">

					{ milestones.map((milestone) =>
						<li>
							<div class="relative pb-8">
								<span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-rose-500 opacity-20" aria-hidden="true"></span>

								<div class="relative flex space-x-3">
									<div>
										{milestone.status == 'complete' &&
										<span class="h-8 w-8 rounded-full bg-lime-500 flex items-center justify-center ring-8 ring-white">
											<svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
												<path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
											</svg>
										</span>}

										{milestone.status == 'pending' &&
										<span class="h-8 w-8 rounded-full bg-yellow-500 flex items-center justify-center ring-8 ring-white">
											<svg class="h-7 w-7 text-white" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
												<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12a7.5 7.5 0 0015 0m-15 0a7.5 7.5 0 1115 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077l1.41-.513m14.095-5.13l1.41-.513M5.106 17.785l1.15-.964m11.49-9.642l1.149-.964M7.501 19.795l.75-1.3m7.5-12.99l.75-1.3m-6.063 16.658l.26-1.477m2.605-14.772l.26-1.477m0 17.726l-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205L12 12m6.894 5.785l-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864l-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495"></path>
											</svg>
										</span>}

										{milestone.status == 'planning' &&
										<span class="h-8 w-8 rounded-full bg-purple-500 flex items-center justify-center ring-8 ring-white">
											<svg class="ml-0.5 h-5 w-5 text-white" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
												<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z"></path>
											</svg>
										</span>}
									</div>

									<div class="-mt-3 mb-5 pl-2 flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
										<div class="flex flex-col gap-1">
											<h2 class="text-2xl font-medium text-rose-600 tracking-widest">
												{milestone.title}
											</h2>

											{milestone.status == 'complete' && <span class="px-3 w-fit text-xs font-medium text-green-900 uppercase bg-green-300 border-2 border-rose-900 rounded-lg">
												{milestone.status}
											</span>}

											{milestone.status == 'pending' && <span class="px-3 w-fit text-xs font-medium text-yellow-900 uppercase bg-yellow-300 border-2 border-rose-900 rounded-lg">
												{milestone.status}
											</span>}

											{milestone.status == 'planning' && <span class="px-3 w-fit text-xs font-medium text-purple-900 uppercase bg-purple-300 border-2 border-rose-900 rounded-lg">
												{milestone.status}
											</span>}

											<p
                                                class="-mt-4 text-lg text-gray-600 leading-8 tracking-wider"
                                                set:html={milestone.summary.replaceAll('\n', '<br />')}
                                            />
										</div>

										<div class="whitespace-nowrap text-right text-sm text-gray-500">
											<time datetime="2020-10-04">
												{milestone.period}
											</time>
										</div>
									</div>
								</div>
							</div>
						</li>
					)}

				</ul>
            </div>
        </section>

		<div class="mb-[30px]" />
	</Section>
</MainLayout>
